<!DOCTYPE html>
<!--
  [강의 20강] 템플릿 레이아웃1 - 레이아웃 사용 페이지
  base.html의 common_header 조각을 사용해서 head 구성
  th:replace="base :: common_header(~{::title}, ~{::link})"
  - ~{::title}: 현재 파일의 <title> 태그를 파라미터로 전달
  - ~{::link} : 현재 파일의 <link> 태그들을 파라미터로 전달
  → 결과: base.html의 공통 CSS/JS + 이 파일의 title과 link가 합쳐진 head 생성
-->
<html xmlns:th="http://www.thymeleaf.org">
<!-- head 전체를 base.html의 common_header 조각으로 교체, 이 파일의 title/link를 파라미터로 전달 -->
<head th:replace="template/layout/base :: common_header(~{::title},~{::link})">
    <!-- 이 title 이 base.html의 ${title} 자리에 들어감 -->
    <title>메인 타이틀</title>
    <!-- 이 link 태그들이 base.html의 ${links} 자리에 들어감 (페이지별 추가 CSS) -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/themes/smoothness/jquery-ui.css}">
</head>
<body>
메인 컨텐츠
</body>
</html>
